[Desktop Entry]
Type=Application
Name=Kiro: Logout
Comment=Kiro keybinding: Meta+X,Ctrl+Alt+K,Ctrl+Alt+L
Exec=archlinux-logout
Icon=system-log-out
NoDisplay=true
X-KDE-Shortcuts=Meta+X,Ctrl+Alt+K,Ctrl+Alt+L
