[Desktop Entry]
Type=Application
Name=Kiro: Pamac
Comment=Kiro keybinding: Ctrl+Alt+P
Exec=pamac-manager
Icon=system-software-install
NoDisplay=true
X-KDE-Shortcuts=Ctrl+Alt+P
