[Desktop Entry]
Type=Application
Name=Kiro: Variety next wallpaper
Comment=Kiro keybinding: Meta+Alt+N
Exec=variety -n
Icon=variety
NoDisplay=true
X-KDE-Shortcuts=Meta+Alt+N
