[Desktop Entry]
Type=Application
Name=Kiro: File Manager
Comment=Kiro keybinding: Meta+F8,Meta+Shift+Return
Exec=thunar
Icon=system-file-manager
NoDisplay=true
X-KDE-Shortcuts=Meta+F8,Meta+Shift+Return
