[Desktop Entry]
Type=Application
Name=Kiro: Spotify
Comment=Kiro keybinding: Meta+F10
Exec=spotify
Icon=spotify
NoDisplay=true
X-KDE-Shortcuts=Meta+F10
